<div class=" p-1 bg-light">

	<div class="bg-white">

		<div class="list-group list-group-flush border-bottom scrollarea">
			<a [routerLink]="['/example-one']" routerLinkActive="active" class="list-group-item list-group-item-action py-3 lh-tight">
				<div class="">
					<strong class="mb-1">Example 1</strong>
				</div>
				<div class="col-10 mb-1 small">Noob Alert</div>
			</a>
		</div>
		<div class="list-group list-group-flush border-bottom scrollarea">
			<a [routerLink]="['/example-two']" routerLinkActive="active" class="list-group-item list-group-item-action py-3 lh-tight">
				<div class="">
					<strong class="mb-1">Example 2</strong>
				</div>
				<div class="col-10 mb-1 small">Getting Warmer</div>
			</a>
		</div>
		<div class="list-group list-group-flush border-bottom scrollarea">
			<a [routerLink]="['/example-three']" routerLinkActive="active" class="list-group-item list-group-item-action py-3 lh-tight">
				<div class="">
					<strong class="mb-1">Example 3</strong>
				</div>
				<div class="col-10 mb-1 small">Like a Pro</div>
			</a>
		</div>

		<div class="list-group list-group-flush border-bottom scrollarea">
			<a [routerLink]="['/example-four']" routerLinkActive="active" class="list-group-item list-group-item-action py-3 lh-tight">
				<div class="">
					<strong class="mb-1">Example 4</strong>
				</div>
				<div class="col-10 mb-1 small">Now you are showing off</div>
			</a>
		</div>


	</div>

	<hr>

</div>